.nav{
    border: solid black;
    width:100%;
    height:100px;
}

.gameContainer{
    margin-top:50px;
    border: dotted black;
    width:950px;
    height: 540px;
    justify-self:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

#display{
    border:solid black;
    width:90%;
    height:90%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: aqua;
}

#title{
    border:none;
    margin-bottom:70px;
    text-align:center;
}

#start{
    width:25%;
    height:100px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#preScreen{
    color:aliceblue;
    border:solid white;
    width:90%;
    height:90%;
    display:flex;
    align-items:center;
}

#alienShowcase1{
    /*border:solid yellow;*/
    display:flex;
    justify-content:space-around;
}

#heroShowcase{
    /*border:solid white;*/
    display:flex;
    justify-content:center;
}

#message{
    border: solid white;
    display:flex;
    justify-content: center;
    margin-top:50px;
    margin-bottom:40px
}

#preScreen{
    display:none;
}

#gameplay{
    border: solid red;
    color:whitesmoke;
    display:none;
    width:90%;
    height:90%;
    align-items:center;
}

#topPanel, #battleBox, #buttonsContainer{
    display:flex;
    justify-content:center;
    align-items:center;
}

#topPanel {
    border:solid white;
    align-items:center;
    flex-direction:column;
}

#panel {
    margin-bottom:2px;
}

#battleBox{
    border:solid whitesmoke;
    margin-top:50px;
    display:flex;
    justify-content:space-between;
    padding:20px;
}

.playerContainer, .enemyContainer {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.healthBar {
    width: 150px;
    height: 20px;
    background-color: gray;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px; 
    position: relative;
}

.healthBarFill {
    height: 100%;
    background-color: green;
    width: 100%; /* Start at full health */
    border-radius: 3px;
    transition: width 0.3s ease; /* Smoothly decrease health */
}


#buttonsContainer{
    margin-top:100px;
    display:flex;
    justify-content:space-around;

}

#playerWin{
    display:none;
}