.nav{
    border: solid black;
    width:100%;
    height:100px;
}

.gameContainer{
    margin-top:50px;
    border: dotted black;
    width:950px;
    height: 540px;
    justify-self:center;
    display:flex;
    justify-content:center;
    align-items:center;
}

.display{
    border:solid black;
    width:90%;
    height:90%;
    justify-content:center;
    display:flex;
}

.buttonContainer{
    border:solid black;
    width:90%;
    height:100px;
    align-self:end;
    justify-self:center;
    display:flex;
    justify-content:center;
}

#attack, #retreat{
    border:solid black;
    width:40%;
    height:50%;
    margin:10px;
    align-self:center;

}